
body {
    font-family: Arial, sans-serif;
    padding: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    margin: 10px 0 20px 0;
    padding: 8px 15px;
    font-size: 1rem;
    cursor: pointer;
}

.barra-contenedor {
    width: 300px;
    height: 30px;
    background: #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

.barra {
    height: 100%;
    width: 0%;
    background-color: #4CAF50;
    transition: width 0.4s ease, background-color 0.3s ease;
}

#texto {
    font-size: 1.2rem;
    font-weight: bold;
}
